<link rel="stylesheet" href="{{ 'mg_home-main.css' | asset_url }}">

<div class="container">
  <div class="row p-4 my-5 gap-3">
    {% for col in section.blocks %}
        <div class="col-6 col-md w-100">
          <a href="{{col.settings.mg__col_action_url}}">
            <div class="card text-center text-bg-dark rounded-0 border border-dark border-2 overlay-container">
              <img src="{{ col.settings.mg__col_image | file_img_url }}" class="card-img" alt="{{col.settings.mg__col_title}}">
              <div class="card-img-overlay d-flex flex-column justify-content-center overlay-text">
                <h1 class="card-title">{{col.settings.mg__col_title}}</h1>
                <span class="text-decoration-underline"><small>{{col.settings.mg__col_action_title}}</small></span>
              </div>
            </div>
          </a>
        </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "[MG] Collections",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "mg__col",
      "label": "Collections"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Collection",
      "type": "column",
      "settings": [
        {
          "type": "text",
          "id": "mg__col_title",
          "label": "Collections Title"
        },
        {
          "type": "text",
          "id": "mg__col_action_title",
          "label": "Collections Action Title"
        },
        {
          "type": "url",
          "id": "mg__col_action_url",
          "label": "Collections Action Link"
        },
        {
          "type": "image_picker",
          "id": "mg__col_image",
          "label": "Collection Image"
        }
      ]
    }
  ]
}
{% endschema %}
